div.userComment {
    /* background: hotpink; */
    border: 1px solid grey;
    width: 750px;
    height: 150px;
    position: relative;
    margin-bottom: 30px;
}

div.userAvatar {
    /* background: blueviolet; */
    float: left;
    position: relative;
    width: 150px;
    height: 150px;
}

#divMain {
    margin-top: 14px;
}

.alert {
    margin-bottom: 10px;
}

.user_head {
    width: 35%;
    height: 35%;
    border: 3px solid #fff;
    margin-top: -47px;
}

#user_head_top_img {
    width: 100%;
    height: 150px;
    background-color: #F7F7F9;
    background-size: cover;
}

#left-window {
    background-color: #FFFFFF;
    border: 1px solid #e5e9ef;
    border-radius: 2%;
    margin-bottom: 10px;
}

#center-window {
    padding-top: 20px;
    background-color: #FFFFFF;
    border: 1px solid #e5e9ef;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 2%;
}

#inputBox,
#follow-list,
#user_info_detail {
    background-color: #FFFFFF;
    border: 1px solid #e5e9ef;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 2%;
    margin-bottom: 10px;
}

#textBox_new {
    padding-bottom: 13px;
}

.textBox-input {
    width: 100%;
    height: 80px;
    resize: none;
}

#button-textBox {
    padding-top: 10px;
}

#user-photo-play {
    margin-top: 10px;
}

.active-main {
    margin-top: 10px;
    padding-top: 20px;
    background-color: #FFFFFF;
    border: 1px solid #e5e9ef;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 2%;
}

.active-main>div>div>a>img {
    border: 1px solid #e5e9ef;
}

.user-text {
    padding-bottom: 1em;
    padding-right: 1em;
}

.user_text_img {
    padding-bottom: 1em;
    padding-right: 1em;
}

.user_text_img>img {
    display: inline;
    width: 45%;
}

.user_comment {
    border-top: 1px solid #e5e9ef;
}

.user_comment_headImg {
    padding-top: 8px;
}

h5 {
    margin-bottom: 15px;
}


/*个人信息列表*/

.info_list {
    padding-left: 10px;
    list-style: none;
}

.info_list>li {
    margin-bottom: 10px;
}

.btn {
    position: relative;
    display: inline-block;
    width: 75px;
    height: 25px;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
    line-height: 25px;
    vertical-align: center;
    border-radius: 5px;
    border: 1px solid #e5e9ef;
    background-color: white;
}

.btn:hover {
    cursor: pointer;
    border: 1px solid #e5e9ef;
    background-color: bisque;
}

.btn input {
    position: absolute;
    left: 5;
    top: 5;
    right: 5;
    opacity: 0;
}