@charset "utf-8";

/* CSS Document */

.Input {
    background-color: #fff;
    border-radius: 15px;
    outline: none;
    border: none;
    color: black;
    padding: 5px 10px;
}

.btn {
    margin-top: 50px;
    ;
    display: block;
    font-size: 18px;
    /* align-items: center; */
    /* justify-content: center; */
    height: 50px;
    width: 100px;
    background-color: rgb(255, 217, 0);
    border-radius: 20px;
    border: #fff 1px solid;
    transition: 0.35s;
    transition-delay: 0.1s;
    text-align: center;
}

.btn:hover {
    border: #34495e 1px solid;
    background-color: aliceblue;
    color: grey;
    cursor: pointer;
}

.btn2 {
    display: block;
    font-size: 18px;
    /* justify-content: center; */
    height: 50px;
    width: 100px;
    background-color: rgb(255, 217, 0);
    border-radius: 20px;
    border: #fff 1px solid;
    transition: 0.35s;
    transition-delay: 0.1s;
    text-align: center;
    /* text-align: left; */
}

.btn2:hover {
    border: #34495e 1px solid;
    background-color: aliceblue;
    color: grey;
    cursor: pointer;
}

.search-box-wrap {
    display: flex;
    justify-content: center;
}

.search-box {
    height: 40px;
    background: #34495e;
    /*设置padding将box中的input a撑开*/
    padding: 5px;
    border-radius: 20px;
    /*同理flex布局*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-box .search-input {
    /*去除input的默认样式*/
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
    /*默认width为0*/
    width: 200px;
    height: 30px;
    /*transition过渡*/
    transition: 0.75s;
    transition-delay: 0.1s;
}

.search-box .search-btn {
    width: 40px;
    height: 40px;
    /*flex布局*/
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e67e22;
    text-decoration: none;
    font-size: 20px;
}

.search-box:hover .search-input {
    /*伪类选择器*/
    width: 200px;
}

body {
    /* background: url(./1.jpg); */
    /* background-repeat: repeat; */
    background-size: 100% auto;
    /* background-color: rgb(190, 145, 233); */
    background: linear-gradient(150deg, #33b0a6, #fb5f21);
    /* background-color: thistle; */
}

#login_box {
    width: 40%;
    height: 515px;
    background: #40465265;
    margin: auto;
    margin-top: 5%;
    text-align: center;
    border-radius: 30px;
    padding: 50px 50px;
}

#gamer h1 {
    font-size: 40px;
    /* margin-top: 7%; */
    /* padding: 5px 10px; */
    height: 30px;
    margin-top: 0%;
}

#login_box h1 {
    color: #FFFFFF90;
    margin-top: 5%;
    margin-top: -7%;
}

#Login_box #form #input_box {
    margin-top: 5%;
}

#Login_box #form #input_box i {
    color: #FFFFFF;
}

#login_box #form #input_box input {
    border: 0;
    width: 50%;
    font-size: 23px;
    color: #FFFFFF;
    background: #FFFFFF90;
    border-bottom: px solid #FFFFFF;
    padding: 5px 10px;
    margin-top: 10px;
}

#login_box button {
    margin-top: 30px;
    width: 50%;
    height: 50px;
    border-radius: 70px;
    border: 0;
    color: #FFFFFF;
    font-size: 15px;
    background: linear-gradient(45deg, rgb(144, 238, 238), lightblue, lightgoldenrodyellow);
}

#login_box #switch {
    font-size: 25px;
    padding-left: 4%;
    color: #ccc;
    padding-top: -2%;
}

a {
    font-size: 35px;
    text-decoration: none;
}


/* #register button {
	margin:auto;
	align-items: centerikhn;
	/* margin-top: 50px; */


/* width: 10%;
	height: 20px;
	border-radius: 10px;
	border: 0;                                                                                                                                                                                                                                                                                                                                                                                                                                     
	color: #FFFFFF;
	font-size: 15px;

	background: linear-gradient(95deg,lightblue,lightgoldenrodyellow);
} */

#login_box #sign-in {
    padding-top: 12px;
}

#login_box #sign-in a {
    color: #dbc710;
    padding-left: 205px;
    font-size: 18px;
    text-decoration: none;
}

body {
    color: #fff;
    font-family: "Rubik", sans-serif;
}

button {
    background: transparent;
    /* color: #fff; */
    /* border: 3px solid #fff; */
    border-radius: 50px;
    padding: 0.8rem 2rem;
    font: 4px "Margarine", sans-serif;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: 0.2s ease-in-out;
    letter-spacing: 2px;
}

#login_box #remem {
    padding-right: 80px;
    padding-top: 3%;
    font-size: 20px;
    /* color: #666 */
}