/* body */
body{
    background: #ff9191;
}
*{
    margin: 0;
    padding: 0;
    background-color: #ff9191;
}

/* top bar*/
#top_bar{
    height: 80px;
    width: 100%;
    text-align: center;
}

#login_button{
    text-align: right;
}

#top_bar_item img{
    background-color: rgba(0, 0, 0, 0);
    width: 25px;
    height: 25px;
    position: relative;
    top: 0px;
}

#top_bar_item{
    position:relative;
    margin: 0 auto;
    width: 100%;
    height: 60px;
    background-color: #fd882f;
    float: left;
}
#top_bar_item ul{
    list-style: none;
    margin: 0 auto;
}
#top_bar_item a{
    background-color: rgba(0, 0, 0, 0);
    line-height: 60px;
    color: #ffffff;
    text-decoration: none;
    padding: 20px 20px;
}
#top_bar_item a:hover{
    background-color: #ff7000;
}
#search_content{
    height: 25px;
    width: 150px;
}
#user_info{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 5px;
    left: 1180px;
    background-color: rgba(0, 0, 0, 0);
}
#user_info *{
    background-color: rgba(0, 0, 0, 0);
}
#user_avatar{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    left: 0;
}
#user_name{
    position: absolute;
    top: 15px;
    left: 55px;
}
#user_name:hover{
    color: deepskyblue;
}

/* game list*/
.game_list_div{
    width: 1080px;
    height: 200px;
    background-color: beige;
    margin: 30px auto auto;
    position: relative;
}
.game_list_div *{
    background-color: rgba(0, 0, 0, 0);
}
.game_list_div span{
    position: absolute;
    background-color: beige;
    top: 50px;
    left: 400px;
    font-family: Arial Black, Gadget, sans-serif;
}
.game_list_div span:hover{
    color: deepskyblue;
}
.game_list_div img{
    width: 356px;
    height: 200px;
}
.game_list_div p{
    position: absolute;
    background-color: beige;
    top: 100px;
    left: 400px;
}