/* body */
#body{
    background: #ff9191;
}

/* top bar*/
#top_bar{
    height: 80px;
    width: 100%;
    text-align: center;
}

#login_button{
    text-align: right;
}

#top_bar_item img{
    background-color: rgba(0, 0, 0, 0);
    width: 25px;
    height: 25px;
    position: relative;
    top: 6px;
}

#top_bar_item{
    margin: 0 auto;
    width: 100%;
    height: 60px;
    background-color: #fd882f;
    float: left;
    
}
#top_bar_item ul{
    list-style: none;
    margin: 0 auto;
}
#top_bar_item a{
    background-color: rgba(0, 0, 0, 0);
    line-height: 60px;
    color: #ffffff;
    text-decoration: none;
    padding: 20px 20px;
}
#top_bar_item a:hover{
    background-color: #ff7000;
}
#search_content{
    height: 25px;
    width: 150px;
}


/* game_recommend */
*{
    margin: 0;
    padding: 0;
    background-color: #ff9191;
}
.carousel{
    height: 500px;
    width: 1200px;
    margin: 50px auto;
    position: relative;
    overflow: hidden;

}
.carousel .carousel_img ul{
    list-style: none;
}
.carousel .carousel_img ul li{
    position: absolute;
    left: 120px;
}
.carousel .carousel_img ul li img{
    /* padding-top: 20%; */
    width: 100%;
    height: 100%;
}
.right_btn{
    position: absolute;
    top: 50%;
    right: 10px;
    width: 30px;
    height: 30px;
    margin-top: -22.5px;
    border-top: 5px solid #eee;
    border-right: 5px solid #eee;
    transform: rotate(45deg);
    z-index: 999;
}
.left_btn{
    position: absolute;
    top: 50%;
    left: 10px;
    width: 30px;
    height: 30px;
    margin-top: -22.5px;
    border-bottom: 5px solid #eee;
    border-left: 5px solid #eee;
    transform: rotate(45deg);
    z-index: 999;
}
.circles{
    position: absolute;
    width: 260px;
    height: 16px;
    left: 50%;
    bottom: 0;
    margin-left: -135px;
    z-index: 999;
}
.circles ol{
    list-style: none;
}
.circles ol li{
    float: left;
    margin-right: 10px;
    background-color: #eee;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
.circles ol li.cur{
    background-color: #42a5f3;
}
.mask{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    top: 0;
    left: 0;
}


/* community_recommend */
#community_recommend{
    background-color: #a1f5a1;
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    position: relative;
}
#community_recommend_picture{
    position: absolute;
    width: 890px;
    height: 500px;
    top:0;
}
#community_recommend_picture img{
    width:890px;
    height:500px;
}
#community_recommend_text{
    width: 300px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    left: 900px;
    top: 50px;
}
#community_recommend_text *{
    background-color: rgba(0, 0, 0, 0);
}
#like_dislike{
    width: 250px;
    height: 50px;
    margin: 25px 190px;
}
#like{
    width: 30px;
    height: 30px;
}
#dislike{
    width: 30px;
    height: 30px;
    margin-left: 20px;
}
#community_recommend_avatar{
    width: 250px;
    height: 150px;
    position: relative;
    top: 300px;
    left: 920px;
    background-color: rgba(50, 200, 200, 50);
    border: #626262 solid 1px;
}
#community_recommend_avatar *{
    background-color: rgba(0, 0, 0, 0);
}
#avatar{
    height: 100px;
    width: 100px;
    position: relative;
    top: 20px;
    left: 20px;
}
#username{
    position: absolute;
    top: 20px;
    left: 130px;
}
#level_icon{
    position: absolute;
    top: 50px;
    left: 120px;
}
#level_grade{
    position: absolute;
    top: 55px;
    left: 180px;
}

/* game list*/
.game_list_div{
    width: 1080px;
    height: 500px;
    background-color: beige;
    margin: 30px auto auto;
}
.game_list_div span{
    font-family: Arial Black, Gadget, sans-serif;
}
.game_list_div img{
    max-height: 100%;
    width: auto;
}
