/* body */
body{
    background: #ff9191;
}

/* top bar*/
#top_bar{
    height: 80px;
    width: 100%;
    text-align: center;
    position: relative;
}

#login_button{
    text-align: right;
}

#top_bar_item img{
    background-color: rgba(0, 0, 0, 0);
    width: 25px;
    height: 25px;
    position: relative;
    top: 0;
}
#top_bar_item{
    position:relative;
    margin: 0 auto;
    width: 100%;
    height: 60px;
    background-color: rgba(253,136,47,10);
    float: left;
}
#top_bar_item ul{
    list-style: none;
    margin: 0 auto;
}
#top_bar_item a{
    background-color: rgba(0, 0, 0, 0);
    line-height: 60px;
    color: #ffffff;
    text-decoration: none;
    padding: 20px 20px;
}
#top_bar_item a:hover{
    background-color: #ff7000;
}
#search_content{
    height: 25px;
    width: 150px;
    background-color: #fda459;
}
#user_info{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 5px;
    left: 1180px;
    background-color: rgba(0, 0, 0, 0);
}
#user_info *{
    background-color: rgba(0, 0, 0, 0);
}
#user_avatar{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    left: 0;
}
#user_name{
    position: absolute;
    top: 15px;
    left: 55px;
}
#user_name:hover{
    color: deepskyblue;
}
#top_bar_logo{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 20px;
    color: #20fadf;
}


/* game_recommend */
*{
    margin: 0;
    padding: 0;

}
.carousel{
    height: 500px;
    width: 1200px;
    left: 270px;
    position: relative;
    overflow: hidden;

}
.carousel .carousel_img ul{
    list-style: none;
}
.carousel .carousel_img ul li{
    position: absolute;
    left: 120px;
}
.carousel .carousel_img ul li img{
    /* padding-top: 20%; */
    width: 100%;
    height: 100%;
}
.right_btn{
    position: absolute;
    top: 50%;
    right: 10px;
    width: 30px;
    height: 30px;
    margin-top: -22.5px;
    border-top: 5px solid #eee;
    border-right: 5px solid #eee;
    transform: rotate(45deg);
    z-index: 100;
}
.left_btn{
    position: absolute;
    top: 50%;
    left: 10px;
    width: 30px;
    height: 30px;
    margin-top: -22.5px;
    border-bottom: 5px solid #eee;
    border-left: 5px solid #eee;
    transform: rotate(45deg);
    z-index: 100;
}
.circles{
    position: absolute;
    width: 260px;
    height: 16px;
    left: 50%;
    bottom: 0;
    top: 450px;
    margin-left: -135px;
    z-index: 100;
}
.circles ol{
    list-style: none;
}
.circles ol li{
    float: left;
    margin-right: 10px;
    background-color: #eee;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
.circles ol li.cur{
    background-color: #42a5f3;
}
.mask{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    top: 0;
    left: 0;
}


/* community_recommend */
#community_recommend{
    background-color: #a1f5a1;
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    position: relative;
}
#community_recommend_picture{
    position: absolute;
    width: 890px;
    height: 500px;
    top:0;
}
#community_recommend_picture img{
    width:890px;
    height:500px;
}
#community_recommend_text{
    width: 300px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    left: 900px;
    top: 50px;
}
#community_recommend_text *{
    background-color: rgba(0, 0, 0, 0);
}
#like_dislike{
    width: 250px;
    height: 50px;
    margin-top: 75px;
    margin-left:10px;
}
#like{
    width: 30px;
    height: 30px;
}
#dislike{
    width: 30px;
    height: 30px;
    margin-left: 20px;
}
#community_recommend_avatar{
    width: 250px;
    height: 150px;
    position: relative;
    top: 300px;
    left: 920px;
    background-color: rgba(50, 200, 200, 50);
    border: #626262 solid 1px;
}
#community_recommend_avatar *{
    background-color: rgba(0, 0, 0, 0);
}
#avatar{
    height: 100px;
    width: 100px;
    position: relative;
    top: 20px;
    left: 20px;
}
#username{
    position: absolute;
    top: 20px;
    left: 130px;
}
#scoreDiv{
    width: 100px;
    height: 75px;
    position: absolute;
    top: 30px;
    margin-left: 1100px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0);
}
#scoreDiv *{
    background-color: rgba(0, 0, 0, 0);
}
#scoreDiv h3{
    margin-top: -30px;
    margin-left: 20px;
    position: absolute;
}
#more_link{
    position: absolute;
    margin-left: 205px;
    color: #42a5f3;
}

/* game list*/
.game_list_div{
    width: 1080px;
    height: 200px;
    background-color: beige;
    margin: 30px auto auto;
    position: relative;
}
.game_list_div *{
    background-color: rgba(0, 0, 0, 0);
}
.game_list_div span{
    position: absolute;
    background-color: beige;
    top: 50px;
    left: 400px;
    font-family: Arial Black, Gadget, sans-serif;
}
.game_list_div span:hover{
    color: deepskyblue;
}
.game_list_div img{
    width: 356px;
    height: 200px;
}
.game_list_div p{
    position: absolute;
    background-color: beige;
    top: 100px;
    left: 400px;
}

#all{
    margin-top: 300px;
}
#all_but_top_bar{
    margin-top: 130px;
}
#head_gif{
    height: 600px;
    width: 100%;
    background:url(../../figures/background/cyberpunk2077.gif) no-repeat 10px top;
    position: absolute;
    top: -100px;
    margin-left: 230px;
}
