body {
    margin: 0px 0px 0px 0px;
    background-color: rgba(230, 230, 230, 1)
}

#headerDiv {
    background-color: rgb(70, 115, 121);
    color: white;
    position: fixed;
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
    margin-top: 0px;
    top: 0px;
    z-index: 4;
}

#mainDiv {
    /* background-color: bisque; */
    width: 1250px;
    height: 1200px;
    margin: 0 auto;
    position: relative;
    top: 120px;
}

.inlineDiv {
    float: left;
    background-color: rgba(255, 255, 255, 0.9);
    /* color: rgba(20, 20, 80, 1); */
    width: 350px;
    height: 270px;
    /* left: 30px;
    right: 30px; */
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    /* border: 1px solid; */
    /* border-radius: 5px; */
    font-family: 微软雅黑, 宋体, Arial, Helvetica, Verdana, sans-serif;
    font-weight: lighter;
}

#userInfo {
    background-color: aquamarine;
    width: 300px;
    height: 200px;
    margin: 25px auto;
    margin-bottom: 0px;
    font-size: 20px;
}

#userImg {
    display: block;
    width: 300px;
    height: 200px;
    margin: 25px auto;
}

label.userInfo {
    /* background-color: blue; */
    display: inline-block;
    width: 100px;
    margin-left: 40px;
    margin-bottom: 5px;
    text-align: center;
}

span.userInfo {
    width: 100px;
    margin-left: 10px;
    text-align: center;
}

input.userInfo {
    background-color: blueviolet;
    display: inline-block;
    width: 120px;
}

#moneyDiv {
    /* background-color: blue; */
    color: rgb(70, 115, 121);
    font-family: 微软雅黑, 宋体, Arial, Helvetica, Verdana, sans-serif;
    font-size: 50px;
    font-weight: bold;
    width: 110px;
    height: 80px;
    margin: 15px auto;
    text-align: center;
    padding-top: 50px;
}

a.button {
    display: block;
    margin-left: 0px;
    text-decoration: none;
    text-align: center;
    background-color: rgba(60, 155, 147, 0.87);
    color: white;
    -webkit-transition: all linear 0.20s;
    -moz-transition: all linear 0.20s;
    transition: all linear 0.20s;
}

a.button:hover {
    background-color: rgba(86, 209, 199, 0.87);
}


/* #linkButton {
    display: block;
    margin-left: 0px;
    text-decoration: none;
    text-align: center;
    background: #2f435e;
    color: white;
    -webkit-transition: all linear 0.30s;
    -moz-transition: all linear 0.30s;
    transition: all linear 0.30s;
} */


/* #reminder {
    display: block;
    width: 350px;
    background-color: black;
    color: white;
    font-family: 微软雅黑, 宋体, Arial, Helvetica, Verdana, sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-left: 440px;
    margin-top: 40px;
} */

.clasify {
    width: 1170px;
    height: 50px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    background-color: rgb(21, 68, 68);
    color: white;
    font-family: 微软雅黑, 宋体, Arial, Helvetica, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 30px;
    line-height: 50px;
    text-align: center
}

.optionImg {
    float: left;
    width: 220px;
    height: 200px;
    margin-top: 20px;
    margin-left: 65px;
}

.optionReminder {
    /* background-color: aqua; */
    color: rgb(70, 115, 121);
    float: left;
    width: 200px;
    margin-left: 75px;
    margin-top: 10px;
    text-align: center;
    font-family: 微软雅黑, 宋体, Arial, Helvetica, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 25px;
}

.gameImg {
    width: 300px;
    height: 200px;
    margin: 25px 25px;
}