body {
    margin: 0px 0px 0px 0px;
    background: #ff9191;
}

#headerDiv {
    background-color: #fd882f;
    opacity: 0.8;
    color: white;
    position: fixed;
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
    margin-top: 0px;
    top: 0px;
    z-index: 4;
}

#mainDiv {
    background: #a1f5a1;
    width: 1114px;
    height: 1600px;
    margin: 0 auto;
    position: relative;
    top: 10px;
    border: 2px solid grey;
}

.inlineDiv {
    float: left;
    background: #a1f5a1;
    /* color: rgba(20, 20, 80, 1); */
    width: 350px;
    height: 250px;
    /* left: 30px;
    right: 30px; */
    margin-left: 0px;
    margin-right: 30px;
    margin-bottom: 20px;
    /* border: 1px solid; */
    /* border-radius: 5px; */
    font-family: 微软雅黑, 宋体, Arial, Helvetica, Verdana, sans-serif;
    font-weight: lighter;
    border: 1px solid grey;
}

#userInfo {
    float: left;
    background-color: aquamarine;
    color: rgb(70, 115, 121);
    width: 300px;
    height: 120px;
    margin: 25px 25px;
    margin-bottom: 0px;
    font-family: 微软雅黑, 宋体, Arial, Helvetica, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

#userImg {
    float: left;
    display: block;
    width: 348px;
    height: 250px;
}

label.userInfo {
    /* background-color: blue; */
    color: rgb(70, 115, 121);
    display: inline-block;
    width: 80px;
    margin-left: 30px;
    margin-bottom: 5px;
    text-align: left;
}

span.userInfo {
    width: 80px;
    margin-left: 30px;
    text-align: left;
}

input.userInfo {
    background-color: white;
    color: rgb(70, 115, 121);
    display: inline-block;
    width: 130px;
    margin-left: 30px;
}

select.userInfo {
    width: 130px;
}

#moneyDiv {
    float: left;
    /* background-color: blue; */
    color: rgb(70, 115, 121);
    font-family: 微软雅黑, 宋体, Arial, Helvetica, Verdana, sans-serif;
    font-size: 50px;
    font-weight: bold;
    width: 200px;
    height: 60px;
    margin: 0px 75px;
    margin-top: 50px;
    text-align: center;
}

a.link {
    color: white;
    text-decoration: none;
    font-family: 微软雅黑, 宋体, Arial, Helvetica, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

a.link:hover {
    background-color: #ff7000;
}

a.button {
    display: block;
    margin-left: 0px;
    text-decoration: none;
    text-align: center;
    background-color: rgba(60, 155, 147, 0.87);
    color: white;
    -webkit-transition: all linear 0.20s;
    -moz-transition: all linear 0.20s;
    transition: all linear 0.20s;
}

a.button:hover {
    background-color: rgba(86, 209, 199, 0.87);
}


/* #linkButton {
    display: block;
    margin-left: 0px;
    text-decoration: none;
    text-align: center;
    background: #2f435e;
    color: white;
    -webkit-transition: all linear 0.30s;
    -moz-transition: all linear 0.30s;
    transition: all linear 0.30s;
} */


/* #reminder {
    display: block;
    width: 350px;
    background-color: black;
    color: white;
    font-family: 微软雅黑, 宋体, Arial, Helvetica, Verdana, sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-left: 440px;
    margin-top: 40px;
} */

.clasify {
    width: 1110px;
    height: 50px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    background-color: #e6751e;
    color: white;
    font-family: 微软雅黑, 宋体, Arial, Helvetica, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 30px;
    line-height: 50px;
    text-align: center
}

div.branchDiv {
    float: left;
    background-color: darksalmon;
    width: 1050px;
    height: 90px;
    font-size: 25px;
    margin: 10px 30px;
}

textarea.branchInfo {
    margin-top: 10px;
    margin-left: 20px;
    width: 900px;
    height: 60px;
    background: #cc8c8c;
    color: white;
    float: left;
    resize: none;
    font-size: 20px;
    border: 1px solid white;
}

.optionImg {
    float: left;
    width: 350px;
    height: 270px;
}

.imgReminder {
    background-color: rgba(25, 25, 25, 0.8);
    color: rgb(70, 115, 121);
    position: absolute;
    top: 210px;
    width: 350px;
    height: 40px;
    text-align: center;
    font-family: 微软雅黑, 宋体, Arial, Helvetica, Verdana, sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 40px;
}

.gameImg {
    float: left;
    width: 350px;
    height: 250px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navigation {
    position: fixed;
    width: 50px;
    height: 100%;
    background: rgba(128, 0, 85, 0.555);
    transition: 0.5s;
    overflow: hidden;
}

.navigation:hover,
.navigation.active {
    width: 160px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
}

.navigation ul li:hover {
    background: #ea1d63;
}

.navigation ul li a {
    position: relative;
    display: none;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navigation ul li a .icon .fa {
    font-size: 24px;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    margin-left: -20px;
    white-space: nowrap;
}

.toggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: purple;
    cursor: pointer;
}

.toggle.active {
    background: #ea1d63;
}

.toggle:before {
    content: '\f0c9';
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    color: #fff;
}

.toggle.active:before {
    content: '\f00d';
}

[v-cloak] {
    display: none;
}

@media (max-width: 767px) {
    .navigation {
        left: -60px;
    }
    .navigation.active {
        left: 0px;
        width: 100%;
    }
}