<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DeveloperGame</title>
    <link rel="stylesheet" type="text/css" href="../css/developerGame.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script rel="text/javascript" src="../script/ServerInteraction.js"></script>
    <style>
        .firstScreenshot {
            margin-left: 140px;
        }
        
        .normalScreenshot {
            margin-left: 50px;
        }
    </style>
</head>

<body>

    <div class="toggle" onclick="toggleMenu()"></div>
    <script type="text/javascript">
        function toggleMenu() {
            let navigation = document.querySelector('.navigation');
            let toggle = document.querySelector('.toggle');
            navigation.classList.toggle('active');
            toggle.classList.toggle('active');
        }
    </script>
    <div id="vueDiv" v-cloak>

        <div class="navigation">
            <ul>
                <li>
                    <a v-bind:href="'Store.html?uid='+uid">
                        <span class="icon"><i class="fa fa-home" aria-hidden="true"></i></span>
                        <span class="title">Store</span>
                    </a>
                </li>
                <li>
                    <a href="Community.html">
                        <span class="icon"><i class="fa fa-cloud" aria-hidden="true"></i></span>
                        <span class="title">Community</span>
                    </a>
                </li>
            </ul>
        </div>
        <a class="link" style="margin-left: 1250px;;" href="login.html">sign-in</a>
        <a class="link" href="register.html" style="margin-left: 15px;">sign-up</a>
        <!-- <div id="headerDiv">
            <a class="link" style="margin-left: 20px;" href="Store.html">Store | </a>
            <a class="link">Community | </a>
            <a>first | </a>
            <a>first | </a>
            <a class="link" style="margin-left: 1150px;" href="login.html">sign-in</a>
            <a class="link" href="register.html" style="margin-left: 15px;">sign-up</a>
        </div> -->
        <div id="hideDiv" style="position: fixed;width:100%;height:2000px;top:0;left:0;background-color:#000;opacity: 0.6;z-index: 6; display: none;"></div>
        <div style="height:50px;"></div>
        <div id="changePasswordDiv" style="height:220px;width:400px;position:fixed;top:200px;left:550px;background-color:aqua;z-index: 7;display: none;border:1px solid white;">
            <input type="text" placeHolder="old password" style="margin: 10px 125px;width:150px;"></br>
            <input type="text" placeHolder="new password" style="margin: 10px 125px;width:150px;"></br>
            <input type="text" placeHolder="confirm password" style="margin: 10px 125px;width:150px;">
            <a class="button" href="#" style="width:85px;margin:10px 60px; font-weight: lighter;font-size: 17px;" v-on:click.prevent="submit">Submit</a>
            <a class="button" href="#" style="width:85px;margin:10px 0px; font-weight: lighter;font-size: 17px;" v-on:click.prevent="cancle('changePasswordDiv')">Cancle</a>
        </div>
        <div class="gameDiv clearfix" v-for="(game,index) in gameList">
            <div class="gameImgDiv" style="position: relative">
                <video style="height:250px;width:445px;position: absolute" controls autoplay>
                    <source v-bind:src="game.gameVideoUrl" type="video/mp4">   
                    您的浏览器不支持 video 属性。
                  </video>
                <input type="file" style="position: absolute;width:445px;height:190px;opacity: 0;" accept=".mp4" v-on:change="newGameVideoUpload($event,index)" title="upload your video">
            </div>
            <div class="gameInfoDiv">
                <label class="gameInfo">game name</label>
                <input class="gameInfo" type="text" v-model="game.gameName"></br>
                <label class="gameInfo" style="font-size: 15px;">original price</label>
                <input class="gameInfo" type="text" v-model="game.gamePrice"></br>
                <label class="gameInfo">release date</label>
                <input class="gameInfo" type="date" v-model="game.gameDate" style="font-size: 13px;margin-left: 0px;"></br>
                <label class="gameInfo" style="margin-bottom: 0px;">discount</label>
                <input class="gameInfo" type="text" v-model="game.discount" style="width:40px;height:20px;margin-right: 0px;font-size: 15px;margin-bottom:10px;margin-left: 0px;">% til
                <input class="gameInfo" type="date" v-model="game.discountTime" style="width:125px;font-size: 13px;margin-left: 5px;">
            </div>
            <div style="float: left;width:149px;height:250px;background:aqua;">
                <a class="button" href="#" v-on:click.prevent="show('addBranchDiv'+index)" style="margin-top:15px;margin-left:10px;width:120px;font-size: 15px;">Add Branch</a>
                <a class="button" href="#" v-on:click.prevent="show('addDLCDiv'+index)" style="margin-top:20px;margin-left:10px;width:120px;font-size: 15px;">Add DLC</a>
                <a class="button" href="#" v-on:click.prevent="show('addTagDiv'+index)" style="margin-top:20px;margin-left:10px;width:120px;font-size: 15px;">Add Tag</a>
                <span style="margin-top:20px;margin-left:10px;width:120px;height:17px;position: relative;display:inline-block;">
                    <a class="button" href="#"  style="margin-top:0px;margin-left:0px;width:120px;font-size: 15px;position: absolute;">Screenshot</a>
                    <input type="file" id="userAvatar"  v-on:change="newScreenshootUpload($event,index)" capture="camera" accept="image/*" style="width:120px;height:25px;position:absolute; opacity: 0;cursor:pointer;" title="upload screenshoot" />
                </span>
                <a class="button" href="#" style="margin-top:20px;margin-left:10px;width:120px;font-size: 15px;">Delete</a>
                <a class="button" href="#" v-on:click.prevent="submitChange(index)" style="margin-top:20px;margin-left:10px;width:120px;font-size: 15px;">Submit</a>
            </div>



            <div style="float: left;width:900px;height:170px;margin-left: 50px;border:1px solid gray;position: relative;">
                <label style="font-size:25px;font-weight: bold;margin-left: 140px;float: left;display:block;width:600px;">Screenshots</label>
                <img v-for="(img,imgIndex) in game.screenshotsUrl" v-bind:class="{'normalScreenshot':imgIndex!=screenshotIndex,'firstScreenshot':imgIndex==screenshotIndex}" style="width:150px;height:100px;float: left;display:block;" v-bind:src="img.url" v-if="(screenshotIndex<=imgIndex&imgIndex<screenshotIndex+3)?true:false">

                <a class="button" href="#" style="top:150px;left:790px;width:30px;position:absolute;display:block; " v-on:click.prevent="prevScreenshot">&lt</a>
                <a ref="abc" class="button" href="#" v-on:click.prevent="nextScreenshot" style="top:150px;left:840px;position:absolute;width:30px;float: left;display:block; ">&gt</a>
            </div>
            <div style="float: left;width:900px;height:100px;margin-left: 50px;border:1px solid gray;">
                <label style="font-size:25px;font-weight: bold;margin-left: 140px;">Description</label></br>
                <textarea v-model="game.gameDescription" style="width:550px;height:60px;margin-left: 140px;resize: none;"></textarea>
            </div>

            <div v-for="(branch,branchIndex) in game.branches" style="float: left;width:900px;height:100px;margin-left: 50px;border:1px solid gray;">
                <label style="font-size:25px;font-weight: bold;margin-left: 140px;">{{"Branch"+branch.index}}</label></br>
                <textarea style="width:550px;height:40px;margin-left: 140px;resize: none;" readonly>{{branch.info}}</textarea>
            </div>
            <div v-for="(DLC,DLCIndex) in game.DLCs" style="float: left;width:900px;height:100px;margin-left: 50px;border:1px solid gray;">
                <label style="font-size:25px;font-weight: bold;margin-left: 140px;">{{"DLC"+DLC.index+" Price: "+DLC.price}}</label></br>
                <textarea style="width:550px;height:40px;margin-left: 140px;resize: none;" readonly>{{DLC.info}}</textarea>
            </div>

            <div v-bind:id="'addBranchDiv'+index" class="userInfo" style="height:270px;width:400px;position:fixed;top:200px;left:550px;background-color:aqua;z-index: 7;display: none;border:1px solid white;">
                <label class="userInfo" style="width:150px;margin-top: 50px;margin-left:40px;text-align: left;display: inline-block;">upload description:</label><input v-on:change="newBranchDescriptionUpload($event,index)" type="file" class="userInfo"
                    style="margin-left: 0;width:200px;margin-top: 50px;"></br>
                </br>
                <label class="userInfo" style="width:150px;margin-top: 10px;margin-left:40px;text-align: left;display: inline-block;">upload branch:</label><input v-on:change="newBranchUpload($event,index)" type="file" class="userInfo" style="margin-left: 0;width:200px;"></br>
                <a class="button" href="#" style="width:85px;margin:30px 60px; font-weight: lighter;font-size: 17px;" v-on:click.prevent="submitNewBranch('addBranchDiv'+index,index)">Submit</a>
                <a class="button" href="#" style="width:85px;margin:30px 0px; font-weight: lighter;font-size: 17px;" v-on:click.prevent="hide('addBranchDiv'+index)">Cancle</a>
            </div>

            <div v-bind:id="'addDLCDiv'+index" class="userInfo" style="height:270px;width:400px;position:fixed;top:200px;left:550px;background-color:aqua;z-index: 7;display: none;border:1px solid white;">
                <label class="userInfo" style="width:150px;margin-top: 50px;margin-left:40px;text-align: left;display: inline-block;">upload description:</label><input v-on:change="newDLCDescriptionUpload(index,$event)" type="file" class="userInfo" style="margin-left: 0;width:200px;margin-top: 50px;"></br>
                </br>
                <label class="userInfo" style="width:150px;margin-top: 10px;margin-left:40px;text-align: left;display: inline-block;">upload DLC:</label><input v-on:change="newDLCUpload(index,$event)" type="file" class="userInfo" style="margin-left: 0;width:200px;"></br>
                <label class="userInfo" style="width:150px;margin-top: 20px;margin-left:40px;text-align: left;display: inline-block;">set price:</label><input type="text" class="userInfo" v-model="game.newDLCPrice" style="margin-left: 0;width:150px;margin-top: 20px;"></br>
                <a class="button" href="#" style="width:85px;margin:30px 60px; font-weight: lighter;font-size: 17px;" v-on:click.prevent="submitNewDLC('addDLCDiv'+index,index)">Submit</a>
                <a class="button" href="#" style="width:85px;margin:30px 0px; font-weight: lighter;font-size: 17px;" v-on:click.prevent="hide('addDLCDiv'+index)">Cancle</a>
            </div>

            <div v-bind:id="'addTagDiv'+index" class="userInfo" style="height:270px;width:400px;position:fixed;top:200px;left:550px;background-color:aqua;z-index: 7;display: none;border:1px solid white;">
                <label class="userInfo" style="width:150px;margin-top: 50px;margin-left:40px;text-align: left;display: inline-block;">Tag 1:</label><input type="text" v-model="game.tag[0]" class="userInfo" style="margin-left:0;margin-top: 50px;"></br>
                <label class="userInfo" style="width:150px;margin-top: 10px;margin-left:40px;text-align: left;display: inline-block;">Tag 2:</label><input type="text" v-model="game.tag[1]" class="userInfo" style="margin-left:0;margin-top: 10px;"></br>
                <label class="userInfo" style="width:150px;margin-top: 10px;margin-left:40px;text-align: left;display: inline-block;">Tag 3:</label><input type="text" v-model="game.tag[2]" class="userInfo" style="margin-left:0;margin-top: 10px;"></br>
                <label class="userInfo" style="width:150px;margin-top: 10px;margin-left:40px;text-align: left;display: inline-block;">Tag 4:</label><input type="text" v-model="game.tag[3]" class="userInfo" style="margin-left:0;margin-top: 10px;"></br>
                <label class="userInfo" style="width:150px;margin-top: 10px;margin-left:40px;text-align: left;display: inline-block;">Tag 5:</label><input type="text" v-model="game.tag[4]" class="userInfo" style="margin-left:0;margin-top: 10px;"></br>
                <a class="button" href="#" style="width:85px;margin:30px 60px; font-weight: lighter;font-size: 17px;" v-on:click.prevent="submitNewDLC('addDLCDiv'+index,index)">Submit</a>
                <a class="button" href="#" style="width:85px;margin:30px 0px; font-weight: lighter;font-size: 17px;" v-on:click.prevent="hide('addTagDiv'+index)">Cancle</a>
            </div>
        </div>



        <a class="button" v-on:click.prevent="show('uploadGameDiv')" href="#" style="margin-top:10px;margin-left:1245px;width:200px;height:50px;font-size: 30px;line-height: 50px;">New Game</a>
        <div id="uploadGameDiv" class="userInfo" style="height:270px;width:400px;position:fixed;top:200px;left:550px;background-color:aqua;z-index: 7;display: none;border:1px solid white;">
            <label class="userInfo" style="width:150px;margin-top: 50px;margin-left:40px;text-align: left;display: inline-block;">game name:</label><input type="text" v-model="gameName" class="userInfo" style="margin-left:0;margin-top: 50px;"></br>
            <label class="userInfo" style="width:150px;margin-top: 10px;margin-left:40px;text-align: left;display: inline-block;">upload game:</label><input v-on:change="newGameUpload($event)" type="file" class="userInfo" style="margin-left: 0;width:200px;"></br>
            <label class="userInfo" style="width:150px;margin-top: 10px;margin-left:40px;text-align: left;display: inline-block;">description file:</label><input v-on:change="newGameDescriptionUpload($event)" type="file" class="userInfo" style="margin-left: 0;width:200px;"></br>
            <label class="userInfo" style="width:150px;margin-top: 10px;margin-left:40px;text-align: left;display: inline-block;">price:</label><input v-model="gamePrice" type="text" class="userInfo" style="margin-left: 0;"></br>
            <label class="userInfo" style="width:150px;margin-top: 10px;margin-left:40px;text-align: left;display: inline-block;">release date:</label><input v-model="gameDate" type="date" class="userInfo" style="margin-left: 0;"></br>
            <a class="button" href="#" style="width:85px;margin:30px 60px; font-weight: lighter;font-size: 17px;" v-on:click.prevent="submitNewGame('uploadGameDiv')">Submit</a>
            <a class="button" href="#" style="width:85px;margin:30px 0px; font-weight: lighter;font-size: 17px;" v-on:click.prevent="hide('uploadGameDiv')">Cancle</a>
        </div>




    </div>
</body>
<script>
    var vm = new Vue({
        el: "#vueDiv",
        data: {
            gameList: [],
            gameName: "",
            gamePrice: "",
            gameFile: "",
            gameDate: "2000-05-02",
            gameDescription: "",
            screenshotIndex: 0,
            visitor: false,
            visitorName: "adad",
            gidList: [],
            userName: "",
            uid: 4,


        },
        created: function() {
            var jsonObj = parsePageUrl(location.href)
            this.uid = jsonObj.uid
            var outThis = this
            ajax("get", "http://36058s3d36.zicp.vip:55374/game/getGidList?uid=" + this.uid, null, false, function(x) {
                if (x.responseText == 0) {
                    return
                }
                outThis.gidList = x.responseText.split(",")

            })
            for (var gid in this.gidList) {
                ajax("get", "http://36058s3d36.zicp.vip:55374/game/getAllBygid?gid=" + this.gidList[gid], null, false, function(x) {
                    console.log(x.responseText)
                    var jsonObj = JSON.parse(x.responseText)
                    var gameObj = {
                        gameName: "hh",
                        gameVideoUrl: "",
                        DLCs: [],
                        branches: [],
                        tag: ["No tag", "No tag", "No tag", "No tag", "No tag"],
                        screenshotsUrl: [],
                        gid: "",
                        gamePrice: "36",
                        gameDate: "",
                        discount: "78",
                        discountTime: "",
                        gameDescription: "hhh",
                        newDLCPrice: "",
                    }
                    gameObj.gameName = jsonObj.name
                    gameObj.tag = jsonObj.tag
                    gameObj.gid = jsonObj.gid
                    gameObj.gameDate = jsonObj.release_date
                    gameObj.discount = jsonObj.discount * 100
                    gameObj.discountTime = jsonObj.dis_end_time
                    gameObj.gameDescription = jsonObj.description
                    ajax("get", "http://36058s3d36.zicp.vip:55374/game/findPriceByGid?gid=" + outThis.gidList[gid], null, true, function(x) {
                        gameObj.gamePrice = x.responseText
                    })
                    for (var i = 1; i <= jsonObj.shoot_num; i++) {
                        gameObj.screenshotsUrl.push({
                            url: "http://36058s3d36.zicp.vip/static/game/" + gameObj.gid + "game/shoot/" + i + "shoot.jpg"
                        })

                    }
                    ajax("get", "http://36058s3d36.zicp.vip:55374/game/findBranchBygid?id=" + outThis.gidList[gid], null, true, function(x) {
                        var JsonRe = JSON.parse(x.responseText)
                        console.log(JsonRe)
                        for (var obj in JsonRe) {
                            gameObj.branches.push({
                                info: JsonRe[obj].description,
                                path: JsonRe[obj].gamepath,
                                index: JsonRe[obj].index
                            })
                        }
                    })
                    ajax("get", "http://36058s3d36.zicp.vip:55374/game_dlc_path/findDLCBygid?gid=" + outThis.gidList[gid], null, true, function(x) {
                        var jsonObj = JSON.parse(x.responseText)
                        for (var dlc in jsonObj) {
                            gameObj.DLCs.push({
                                info: jsonObj[dlc].description,
                                price: jsonObj[dlc].price,
                                path: jsonObj[dlc].path,
                                index: jsonObj[dlc].index,
                            })
                        }
                    })
                    gameObj.gameVideoUrl = "http://36058s3d36.zicp.vip/static/game/" + gameObj.gid + "game/video/game.mp4"
                    outThis.gameList.push(gameObj)
                })

            }

            console.log(this.gameList)
        },
        methods: {
            submitChange: function(index) {
                var formData = new FormData()
                formData.append("name", this.gameList[index].gameName)
                formData.append("price", this.gameList[index].gamePrice)
                formData.append("release_date", this.gameList[index].gameDate)
                formData.append("discount", this.gameList[index].discount)
                formData.append("end_time", this.gameList[index].discountTime)
                formData.append("g_des", this.gameList[index].gameDescription)
                formData.append("gid", this.gameList[index].gid)
                ajax("post", "http://36058s3d36.zicp.vip:55374/game/update", formData, false, function(x) {
                    if (x.responseText == 1) {
                        alert("submit successfully")
                    } else {
                        alert("submit failed")
                    }
                })

            },
            newDLCUpload: function(index, event) {
                this.gameList[index].DLCs.path = event.target.files[0]
            },
            newDLCDescriptionUpload: function(index, event) {
                this.gameList[index].DLCs.info = event.target.files[0]
            },
            show: function(divID) {
                show(divID)
            },
            hide: function(divID) {
                hide(divID)
            },
            submitNewGame: function(divID) {
                console.log(this.gameDate)
                var formData = new FormData();
                formData.append("uid", this.uid)
                formData.append("name", this.gameName)
                formData.append("Description", this.gameDescription)
                formData.append("price", this.gamePrice)
                formData.append("release", this.gameDate)
                formData.append("path", this.gameFile)
                console.log(this.gameDate)
                ajax("post", "http://36058s3d36.zicp.vip:55374/game/setupGame", formData, false, function(x) {
                    if (x.responseText == 1) {
                        alert("upload successfully")
                    } else {
                        alert("upload failed")
                    }
                })
                hide(divID)
                location.reload()

            },
            changePassword: function(divID) {
                show(divID)
            },
            cancle: function(divID) {
                hide(divID)
            },
            newGameUpload: function(event) {
                this.gameFile = event.target.files[0]
            },
            newGameDescriptionUpload: function(event) {
                this.gameDescription = event.target.files[0]
            },
            newBranchDescriptionUpload: function(event, index) {
                console.log("index: " + index)
                this.gameList[index].branches.info = event.target.files[0]
            },
            newBranchUpload: function(event, index) {

                this.gameList[index].branches.path = event.target.files[0]
            },
            newGameVideoUpload: function(event, index) {
                this.gameList[index].gameVideo = event.target.files[0]
                var formData = new FormData()
                formData.append("gid", this.gameList[index].gid)
                formData.append("video", this.gameList[index].gameVideo)
                ajax("post", "http://36058s3d36.zicp.vip:55374/game/newVideo", formData, false, function(x) {
                    if (x.responseText == 1) {
                        alert("upload successfully")
                    } else {
                        alert("upload failed")
                    }
                })
            },
            submitNewBranch: function(divID, index) {
                var formData = new FormData()
                formData.append("gid", this.gameList[index].gid)
                formData.append("Description", this.gameList[index].branches.info)
                formData.append("path", this.gameList[index].branches.path)
                ajax("post", "http://36058s3d36.zicp.vip:55374/game/newBranch", formData, false, function(x) {
                    if (x.responseText == 1) {
                        alert("add successfully")
                        location.reload()
                    } else {
                        alert("add failed")
                    }
                })
                hide(divID)
            },
            submitNewDLC: function(divID, index) {
                var formData = new FormData()
                formData.append("gid", this.gameList[index].gid)

                formData.append("did", this.uid)
                formData.append("Description", this.gameList[index].DLCs.info)
                formData.append("path", this.gameList[index].DLCs.path)
                formData.append("price", this.gameList[index].newDLCPrice)
                ajax("post", "http://36058s3d36.zicp.vip:55374/game_dlc_path/setupGdp", formData, false, function(x) {
                    if (x.responseText == 1) {
                        alert("add successfully")
                        location.reload()
                    } else {
                        alert("add failed")
                    }
                })
                hide(divID)
            },
            nextScreenshot: function() {
                this.screenshotIndex += 3
            },
            prevScreenshot: function() {
                this.screenshotIndex -= 3
            },
            newScreenshootUpload: function(event, index) {
                var formData = new FormData()
                formData.append("gid", this.gameList[index].gid)
                formData.append("shoot", event.target.files[0])
                ajax("post", "http://36058s3d36.zicp.vip:55374/game/newShoot", formData, false, function(x) {
                    if (x.responseText == 1) {
                        alert("upload successfully")
                    } else {
                        alert("upload failed")
                    }
                })
            },
        }
    })
</script>

</html>